In [378]:
from ast import Pass
import pandas as pd
import numpy as np
import os

#contacts folder uploaded as Data to google collab
folder_path = 'Data'

consolidated_data = []

#script to get all the contacts in the same list and also add a column to differentiate HQ wise
for file_name in os.listdir(folder_path):
    if file_name.endswith('.txt'):
        file_path = os.path.join(folder_path, file_name)
        data_list = []
        tup = ()
        with open(file_path,"r") as file:
          for line in file:
              string1 = ""
              string1 += line
              tup = string1.split()
              while len(tup) < 4:
                tup.append("none")
              data_list.append(tup)
        header = data_list[0]
        hq_name = header[0]
        rows = data_list[1:]
        for i in rows:
          i = i.append(hq_name)
        for i in rows:
          consolidated_data.append(i)

df_pivot = consolidated_data

In [379]:
#creating a list of all Heros

characters = [
    "stature", "agent.venom", "batman", "hulk", "havok", "sunspot", "smasher",
    "hawkeye", "rogue", "abyss", "iron.man", "thor", "wasp", "ant.man",
    "capatain.america", "nova", "valkyrie", "star.brand", "shang-chi", "sentry",
    "wolverine", "vision", "black.widow", "spider.man", "deadpool",
    "quicksilver", "scarlet.witch", "hercules", "black.panther", "nightmask",
    "echo", "ares", "amadeus_cho", "iron.fist", "power.women", "doctor.strange",
    "daredevil", "storm", "quake", "red.hulk", "captain.britain"
]
#initiating a loop to go through all the data.
list_for_pivot = []
for i in characters:
  str(i)
  att = ""
  for x in df_pivot:
     if i in x:

      Temppp = []

      a = str(x[1])

      d = str(x[2])
      h = str(x[3])



      if a == i and d != i and h != i:
        att = "A"

      if a != i and d == i and h != i:
        att = "D"

      if a != i and d != i and h == i:
        att = "H"

      if a == i and d == i and h != i:
        att = "AD"

      if d == i and h == i and a!= i:
        att = "DH"

      if a == i and h == i and d != i:
        att = "AH"

      if a == i and d == i and h == i:
        att = "ADH"



      #print(att)
      if att is None:
        att = "check"
      Temppp.append(i)
      Temppp.append(x[0])
      Temppp.append(x[4])
      Temppp.append(att)





     list_for_pivot.append(Temppp)
#print(list_for_pivot)

df_pivot_list = pd.DataFrame(list_for_pivot, columns=["Hero", "Invader_Species", "HQ", "Role"])
df_pivot_list = df_pivot_list.drop_duplicates()
print(df_pivot_list)

                 Hero  Invader_Species                    HQ Role
0     captain.britain      d&d_yuan-ti  Aircraft-Headquarter  ADH
24            stature           aliens       PAK-Headquarter    A
25            stature        predators       PAK-Headquarter    A
26            stature     d&d_beholder       PAK-Headquarter   AD
27            stature        d&d_devil       PAK-Headquarter   AD
...               ...              ...                   ...  ...
7084        daredevil         d&d_lich  Aircraft-Headquarter  ADH
7277            storm  d&d_mind_flayer  Aircraft-Headquarter  ADH
7278            storm      d&d_vampire  Aircraft-Headquarter  ADH
7471            quake   d&d_red_dragon  Aircraft-Headquarter  ADH
7665         red.hulk       d&d_treant  Aircraft-Headquarter  ADH

[309 rows x 4 columns]
Invader_Species aliens
HQ
DE-Headquarter       A

In [380]:
#Creating a pivot table.

pivot_table = df_pivot_list[df_pivot_list.Hero=="iron.man"].pivot_table(
    index='HQ',
    columns='Invader_Species',
    values='Role',
    aggfunc=lambda x: ', '.join(x)
)

#Fill NaN values with an empty string for better readability
pivot_table = pivot_table.fillna('')

 #Print the pivot table
print(pivot_table)

Invader_Species aliens
HQ
DE-Headquarter       A